{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  {{- if .Values.serviceAccount.annotations }}
  annotations:
  {{- toYaml .Values.serviceAccount.annotations | nindent 4 }}
  {{- end }}
  name: {{ template "app.fullname" . }}
  labels:
  {{- include "app.labels" . | nindent 4 }}
  {{- if .Values.serviceAccount.labels }}
  {{ toYaml .Values.serviceAccount.labels | indent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
{{- end }}
