image:
  repository: ghcr.io/akpw/mktxp
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
revisionHistoryLimit: 4

replicas: 1
updateStrategy:
  type: RollingUpdate
  # rollingUpdate:
  #   maxUnavailable: 0
  #   maxSurge: 1

# serviceAccount:
#   create: false
#   annotations: {}
#   automountServiceAccountToken: false
# podAnnotations: {}

podSecurityContext:
  runAsUser: 100
  runAsGroup: 101

securityContext:
  fsGroup: 101

service:
  port: 49090

resources: {}
nodeSelector:  {}
tolerations: []
affinity: {}

persistence:
  storageClassName: local-path
  size: 1Gi

monitoring:
  enabled: false
  serviceMonitor:
    enabled: false
    interval: 60s
    labels: {}
    selector: {}
    namespace: {}
